body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 75px;
}

#scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

button {
    font-size: 75px;
    border: none;
    margin: 5px;
    border-radius: 15px;
}

#buttons {
    margin-top: 20px;
    margin-bottom: 40px;
}

#choices {
    display: flex;
    gap: 20px;
}